* {
  font-family: Verdana;
  color: white;
  background-color: black;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  text-align: center;
}

a {
  display: block;
  color: aquamarine;
  font-size: 16px;
  text-align: center;
  margin-bottom: 1rem;
}

p {
  font-size: 21px;
  color: gray;
  text-align: center;
}

video {
  display: block;
  margin: 0 auto;
}

img {
  display: block;
  margin: 1rem auto;
}

#copyright {
  text-align: end;
  font-size: 12px;
}
